@{

    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="col my-2 home-wrapper1">
    <img src="~/CasSys/images/Frame 2608906.svg" class="up">
    <img src="~/CasSys/images/car.svg" class="car">
    <img src="~/CasSys/images/Mask group down (1).svg" class="down">
</div>
