@using Bnan.Core.Extensions;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model List<CrCasLessorMembership>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
   
}



<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container  NewUpdate-container  ">
        <form class="needs-validation" novalidate>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row g-3 my-2">
                        <div class="col-md-6">
                            <h3> @localizer["View_RenterMembership_PageTitle"]  </h3>
                        </div>
                        <div class="col-md-6 save-col">
                            <button type="button" class="custom-img-btn">
                                <img src="~/CasSys/images/save.svg" />
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <div class="row justify-content-center g-3">
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <div class="card-radio">
                                                    <div class="form-check">
                                                        <input class="form-check-input membership-checkbox " type="checkbox" value="VIP" name="membership">
                                                    </div>
                                                </div>
                                                <img src="~/CasSys/images/membership/vip card.svg" class=" Membership-img ">
                                                <i class="fa-solid fa-chevron-left membership-chevron"></i>
                                            </div>
                                            <div class="col-md-8 Data-Membership-card " style="display: none;">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        مبالغ متداولة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="Current-amounts-vip ">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-Current-amounts-vip" value="and" name="and-or-Current-amounts-vip">
                                                            <label class="form-check-label" for="AndCase-Current-amounts-vip">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-Current-amounts-vip" value="or" name="and-or-Current-amounts-vip">
                                                            <label class="form-check-label" for="OrCase-Current-amounts-vip">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        كيلوات مقطوعة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="kilos-amounts-vip">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-kilos-amounts-vip" value="and" name="and-or-kilos-amounts-vip">
                                                            <label class="form-check-label" for="AndCase-kilos-amounts-vip">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-kilos-amounts-vip" value="or" name="and-or-kilos-amounts-vip">
                                                            <label class="form-check-label" for="OrCase-kilos-amounts-vip">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        عدد العقود
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <input class="form-control Membership-input number-input" type="number" name="contracts-amounts-vip">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>خاصة</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <div class="card-radio">
                                                    <div class="form-check">
                                                        <input class="form-check-input membership-checkbox " type="checkbox" value="Bronze" name="membership">
                                                    </div>

                                                </div>
                                                <img src="~/CasSys/images/membership/Bronze Card.svg " class=" Membership-img ">
                                                <i class="fa-solid fa-chevron-left membership-chevron"></i>
                                            </div>
                                            <div class="col-md-8 Data-Membership-card " style="display: none;">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        مبالغ متداولة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="Current-amounts-Bronze">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-Current-amounts-Bronze" value="and" name="and-or-Current-amounts-Bronze">
                                                            <label class="form-check-label" for="AndCase-Current-amounts-Bronze">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-Current-amounts-Bronze" value="or" name="and-or-Current-amounts-Bronze">
                                                            <label class="form-check-label" for="OrCase-Current-amounts-Bronze">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        كيلوات مقطوعة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="kilos-amounts-Bronze">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-kilos-amounts-Bronze" value="and" name="and-or-kilos-amounts-Bronze">
                                                            <label class="form-check-label" for="AndCase-kilos-amounts-Bronze">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-kilos-amounts-Bronze" value="or" name="and-or-kilos-amounts-Bronze">
                                                            <label class="form-check-label" for="OrCase-kilos-amounts-Bronze">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        عدد العقود
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <input class="form-control Membership-input number-input" type="number" name="contracts-amounts-Bronze">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>برونزية</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center g-3 my-3">
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <div class="card-radio">
                                                    <div class="form-check">
                                                        <input class="form-check-input membership-checkbox " type="checkbox" value="Silver" name="membership">
                                                    </div>

                                                </div>
                                                <img src="~/CasSys/images/membership/Silver Card.svg " class=" Membership-img ">
                                                <i class="fa-solid fa-chevron-left membership-chevron"></i>
                                            </div>
                                            <div class="col-md-8 Data-Membership-card " style="display: none;">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        مبالغ متداولة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="Current-amounts-Silver">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-Current-amounts-Silver" value="and" name="and-or-Current-amounts-Silver">
                                                            <label class="form-check-label" for="AndCase-Current-amounts-Silver">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-Current-amounts-Silver" value="or" name="and-or-Current-amounts-Silver">
                                                            <label class="form-check-label" for="OrCase-Current-amounts-Silver">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        كيلوات مقطوعة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="kilos-amounts-Silver">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-kilos-amounts-Silver" value="and" name="and-or-kilos-amounts-Silver">
                                                            <label class="form-check-label" for="AndCase-kilos-amounts-Silver">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-kilos-amounts-Silver" value="or" name="and-or-kilos-amounts-Silver">
                                                            <label class="form-check-label" for="OrCase-kilos-amounts-Silver">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        عدد العقود
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <input class="form-control Membership-input number-input" type="number" name="contracts-amounts-Silver">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>فضية</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <div class="card-radio">
                                                    <div class="form-check">
                                                        <input class="form-check-input membership-checkbox " type="checkbox" value="Gold" name="membership">
                                                    </div>

                                                </div>
                                                <img src="~/CasSys/images/membership/Gold Card.svg " class=" Membership-img ">
                                                <i class="fa-solid fa-chevron-left membership-chevron"></i>
                                            </div>
                                            <div class="col-md-8 Data-Membership-card " style="display: none;">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        مبالغ متداولة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="Current-amounts-Gold">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-Current-amounts-Gold" value="and" name="and-or-Current-amounts-Gold">
                                                            <label class="form-check-label" for="AndCase-Current-amounts-Gold">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-Current-amounts-Gold" value="or" name="and-or-Current-amounts-Gold">
                                                            <label class="form-check-label" for="OrCase-Current-amounts-Gold">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        كيلوات مقطوعة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="kilos-amounts-Gold">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-kilos-amounts-Gold" value="and" name="and-or-kilos-amounts-Gold">
                                                            <label class="form-check-label" for="AndCase-kilos-amounts-Gold">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-kilos-amounts-Gold" value="or" name="and-or-kilos-amounts-Gold">
                                                            <label class="form-check-label" for="OrCase-kilos-amounts-Gold">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        عدد العقود
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <input class="form-control Membership-input number-input" type="number" name="contracts-amounts-Gold">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>ذهبية</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center g-3 my-3">
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <div class="card-radio">
                                                    <div class="form-check">
                                                        <input class="form-check-input membership-checkbox " type="checkbox" value="Diamond " name="membership">
                                                    </div>

                                                </div>
                                                <img src="~/CasSys/images/membership/Diamond card.svg " class=" Membership-img ">
                                                <i class="fa-solid fa-chevron-left membership-chevron"></i>
                                            </div>
                                            <div class="col-md-8 Data-Membership-card " style="display: none;">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        مبالغ متداولة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="Current-amounts-Diamond ">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-Current-amounts-Diamond" value="and" name="and-or-Current-amounts-Diamond ">
                                                            <label class="form-check-label" for="AndCase-Current-amounts-Diamond">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-Current-amounts-Diamond" value="or" name="and-or-Current-amounts-Diamond ">
                                                            <label class="form-check-label" for="OrCase-Current-amounts-Diamond">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        كيلوات مقطوعة
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control Membership-input number-input" type="number" name="kilos-amounts-Diamond ">
                                                    </div>
                                                    <div class="col d-flex ">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="AndCase-kilos-amounts-Diamond" value="and" name="and-or-kilos-amounts-Diamond ">
                                                            <label class="form-check-label" for="AndCase-kilos-amounts-Diamond">و</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="OrCase-kilos-amounts-Diamond" value="or" name="and-or-kilos-amounts-Diamond ">
                                                            <label class="form-check-label" for="OrCase-kilos-amounts-Diamond">او</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row my-2 ">
                                                    <div class="col-md-4">
                                                        عدد العقود
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <input class="form-control Membership-input number-input" type="number" name="contracts-amounts-Diamond ">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>ماسية</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="Membership-card">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col img-Membership-card">
                                                <img src="~/CasSys/images/membership/regular Card.svg" class=" Membership-img ">
                                            </div>


                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <img src="~/CasSys/images/membership/Frame.svg" class="">
                                            </div>
                                            <div class="col-auto">
                                                <span>مشترك</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="~/CAS/Home/Index" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["CompanyMessages_BackToHome"]"
                       class="new-Page-icon"><img src="~/CasSys/images/back to main.svg" alt="man"></a>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.membership-checkbox');
            const chevrons = document.querySelectorAll('.membership-chevron');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const membershipCard = this.closest('.Membership-card');
                    const chevron = membershipCard.querySelector('.membership-chevron');
                    const dataMembershipCard = membershipCard.querySelector('.Data-Membership-card');

                    if (!this.checked) {
                        chevron.classList.add('disabled');
                        chevron.style.color = '#969494';
                        dataMembershipCard.style.display = 'none';
                        chevron.style.transform = '';
                    } else {
                        chevron.classList.remove('disabled');
                        chevron.style.color = '#000000';
                        chevron.style.transform = '';
                    }
                });
            });

            chevrons.forEach(chevron => {
                chevron.addEventListener('click', function () {
                    const membershipCard = this.closest('div[class^="Membership-card"]');
                    const dataMembershipCard = membershipCard.querySelector('.Data-Membership-card');
                    const checkbox = membershipCard.querySelector('.membership-checkbox');
                    const ImgMembershipCard = this.closest('.img-Membership-card');

                    if (checkbox.checked) {
                        if (dataMembershipCard.style.display === 'none' || dataMembershipCard.style.display === '') {
                            document.querySelectorAll('.Data-Membership-card').forEach(card => {
                                card.style.display = 'none';
                            });

                            document.querySelectorAll('.membership-chevron').forEach(otherChevron => {
                                otherChevron.style.transform = 'rotate(0deg)';
                            });

                            dataMembershipCard.style.display = 'block';
                            ImgMembershipCard.style.width = "33.33333333%";
                            chevron.style.transform = "rotate(180deg)";

                            if (window.innerWidth < 768) {
                                chevron.style.transform = "rotate(-270deg)";
                            }
                        } else {
                            dataMembershipCard.style.display = 'none';
                            chevron.style.transform = '';
                        }
                    }
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxPairs = [
                {
                    first: document.getElementById('AndCase-Current-amounts-vip'),
                    second: document.getElementById('OrCase-Current-amounts-vip')
                },
                {
                    first: document.getElementById('AndCase-kilos-amounts-vip'),
                    second: document.getElementById('OrCase-kilos-amounts-vip')
                },
                {
                    first: document.getElementById('AndCase-Current-amounts-Bronze'),
                    second: document.getElementById('OrCase-Current-amounts-Bronze')
                },
                {
                    first: document.getElementById('AndCase-kilos-amounts-Bronze'),
                    second: document.getElementById('OrCase-kilos-amounts-Bronze')
                },
                {
                    first: document.getElementById('AndCase-Current-amounts-Silver'),
                    second: document.getElementById('OrCase-Current-amounts-Silver')
                },
                {
                    first: document.getElementById('AndCase-kilos-amounts-Silver'),
                    second: document.getElementById('OrCase-kilos-amounts-Silver')
                },
                {
                    first: document.getElementById('AndCase-Current-amounts-Gold'),
                    second: document.getElementById('OrCase-Current-amounts-Gold')
                },
                {
                    first: document.getElementById('AndCase-kilos-amounts-Gold'),
                    second: document.getElementById('OrCase-kilos-amounts-Gold')
                }
                ,
                {
                    first: document.getElementById('AndCase-Current-amounts-Diamond'),
                    second: document.getElementById('OrCase-Current-amounts-Diamond')
                },
                {
                    first: document.getElementById('AndCase-kilos-amounts-Diamond'),
                    second: document.getElementById('OrCase-kilos-amounts-Diamond')
                }
            ];

            checkboxPairs.forEach(pair => {
                pair.first.addEventListener('change', function () {
                    pair.second.disabled = this.checked;
                });

                pair.second.addEventListener('change', function () {
                    pair.first.disabled = this.checked;
                });
            });
        });
    </script>
}